{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-3">Login</h3>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="email" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required>
          </div>
          <button class="btn btn-primary w-100">Enter</button>
        </form>
        <hr>
        <p class="text-muted small mb-0">
          Crea un ADMIN usando docs/sql/schema.sql + python generate_password_hash.py
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
